﻿body {
     background-color: #687864;
}

#page-header {
    background-color: #F7F9FB;
    background: -webkit-linear-gradient(#F7F9FB, #dde6ee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F7F9FB, #dde6ee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F7F9FB, #dde6ee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F7F9FB, #dde6ee); /* Standard syntax */
}

.content-background {
    background-color: #F7F9FB;
    overflow:auto;
}

#employee-form-wrapper {
    border-radius: 5px 5px;
    background-color: #8FC1E3;
    border: 1px solid #dde6ee;
    box-shadow: 4px 4px 32px;
}

.settings-icon {
    font-size: 32px;
}

.header-icon {
    font-size: 32px;
}

.md-toolbar-tools {
    background-color: #dde6ee;
    color: black;
}

md-tabs md-ink-bar {
    background-color: #687864;
    color:  #687864;
}

.setting-grid {
    height: 100px;
}

.grid {
    height: 250px;
}

.error {
    color: red;
}

.align-right {
    text-align: right;
}

.overflow-hide {
    overflow: hidden;
}