﻿<md-dialog aria-label="Add/Modify Employee" ng-controller="employeeModalController">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Employee Information</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-font-icon="fa fa-times" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <form name="employeeForm">
        <md-dialog-content style="min-width: 600px; max-width:800px;max-height:500px;">
            <md-content class="md-padding">
                <md-subheader class="content-background">Employee</md-subheader>

                <div layout="column" layout-padding layout-margin>
                    <md-input-container>
                        <label>First name</label>
                        <input id="input-first-name" type="text" ng-model="employee.FirstName" autofocus required>
                    </md-input-container>

                    <md-input-container>
                        <label>Last name</label>
                        <input id="input-last-name" type="text" ng-model="employee.LastName" required>
                    </md-input-container>
                </div>

                <md-divider></md-divider>

                <div ng-if="employee.Dependents && employee.Dependents.length > 0">

                    <md-subheader class="content-background">Dependents</md-subheader>

                    <md-list layout-padding ng-if="!creatingDependent">
                        <md-list-item ng-repeat="dependent in employee.Dependents">
                            <div layout="row" layout-padding layout-margin>
                                <md-input-container>
                                    <label>First name</label>
                                    <input type="text" ng-model="dependent.FirstName" autofocus required>
                                </md-input-container>

                                <md-input-container>
                                    <label>Last name</label>
                                    <input type="text" ng-model="dependent.LastName" required>
                                </md-input-container>

                                <div>
                                    <md-button class="md-warn" ng-click="removeDependent(dependent)">Delete</md-button>
                                </div>
                            </div>
                            <md-divider />
                        </md-list-item>
                    </md-list>
                </div>

            </md-content>
        </md-dialog-content>
    </form>

    <md-button class="md-raised md-primary" ng-click="makeNewDependent()">
        Add Dependent...
    </md-button>
    <md-button ng-if="dialogMode == 'Create'" class="md-primary md-raised" ng-disabled="employeeForm.$invalid || employeeForm.$pristine" ng-click="addEmployee()">
        Create Employee
    </md-button>
    <md-button ng-if="dialogMode == 'Update'" class="md-primary md-raised" ng-disabled="employeeForm.$invalid || employeeForm.$pristine" ng-click="updateEmployee()">
        Update Employee
    </md-button>

</md-dialog>
