﻿<!DOCTYPE html>
<html ng-app="payrollCalculatorApp">
<head>
    <title>Payroll - Payroll Preview</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript">const apiEndpoint = 'http://localhost:52937/api/';</script>
    <!--<script type="text/javascript">const apiEndpoint = 'http://payrollcalculatorwebapi-test.us-west-2.elasticbeanstalk.com/api/';</script>-->

    <script src="https://use.fontawesome.com/49850a2fbf.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/ui-grid.css" />
    <link rel="stylesheet" type="text/css" href="styles/core.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script type="text/javascript" src="scripts/app/directives/autofocus.js"></script>
    <script type="text/javascript" src="scripts/ui-grid.js"></script>
    <script type="text/javascript" src="scripts/app/app.js"></script>
</head>

<body layout="column" ng-cloak>
    <section id="page-header" flex="noshrink" layout-margin ng-controller="settingsController">
        <div layout="row" layout-align="space-between center">
            <h4><i class="fa fa-calculator header-icon" aria-hidden="true"></i> Benefit Calculator</h4>
            <md-button class="md-fab md-mini md-primary" ng-click="showSettings()">
                <md-icon md-font-icon="fa fa-cog settings-icon">
                </md-icon>
                <md-tooltip>
                    Show Settings
                </md-tooltip>
            </md-button>
        </div>
    </section>

    <div class="content-background"
         layout-margin
         layout-align="center center"
         flex="90"
         ng-controller="employeeDashboardController">

        <div flex layout-align="center center">
            <h3>Employees</h3>
            <div ng-if="!employeeGridOptions.data || employeeGridOptions.data.length == 0" class="error">
                <p>Please add an employee to begin...</p>
            </div>
            <div class="grid"
                 ui-grid-selection
                 ui-grid="employeeGridOptions">
            </div>
        </div>

        <section id="button-section" flex>
            <div layout="row" layout-sm="column" layout-xs="column">
                <md-button class="md-raised md-primary" ng-click="openNewEmployeeWindow()">
                    Add Employee
                </md-button>

                <md-button class="md-raised md-primary"
                           ng-disabled="!selectedRow()"
                           ng-click="openSelectedEmployee()">
                    Edit Employee
                </md-button>

                <md-button class="md-raised md-warn"
                           ng-disabled="!selectedRow()"
                           ng-click="removeSelectedEmployee()">
                    Delete Employee
                </md-button>
            </div>
        </section>

        <md-divider layout-padding></md-divider>

        <div ng-if="loading" layout-padding layout-margin>
            <md-progress-circular></md-progress-circular>
        </div>

        <div ng-if="!loading && preview">
            <section layout="column" layout-gt-sm="row">

                <div flex layout-fill>
                    <section layout="column" flex="100" flex-gt-sm="60">
                        <div layout-padding>
                            <h4>Payroll Preview for {{preview.Employee.FirstName}} {{preview.Employee.LastName}}</h4>
                            <div layout="row">
                                <div flex>Number of Dependents:</div>
                                <div flex class="align-right">{{preview.Employee.Dependents.length}}</div>
                            </div>

                            <md-divider></md-divider>

                            <div layout="row">
                                <div flex>Gross Salary:</div>
                                <div flex class="align-right">{{preview.GrossPay | currency}}</div>
                            </div>
                            <div layout="row">
                                <div flex>Payroll Deductions:</div>
                                <div flex class="align-right">{{preview.PayrollDeductions | currency}}</div>
                            </div>
                            <div layout="row">
                                <div flex>Total Discounts:</div>
                                <div flex class="align-right">{{preview.Discounts | currency}}</div>
                            </div>

                            <md-divider></md-divider>

                            <div layout="row">
                                <div flex>Net Salary:</div>
                                <div flex class="align-right">{{preview.NetPay | currency}}</div>
                            </div>
                        </div>
                    </section>
                </div>

                <div ng-if="!loading && preview" flex layout-fill layout-margin layout-padding>
                    <div ui-grid="payrollGridOptions"></div>
                </div>
            </section>
        </div>
    </div>

    <script type="text/javascript" src="scripts/app/services/payrollService.js"></script>
    <script type="text/javascript" src="scripts/app/services/employeeService.js"></script>
    <script type="text/javascript" src="scripts/app/controllers/settingsController.js"></script>
    <script type="text/javascript" src="scripts/app/controllers/employeeDashboardController.js"></script>
    <script type="text/javascript" src="scripts/app/controllers/employeeModalController.js"></script>
</body>

</html>
