﻿<md-dialog aria-label="Employer Settings" ng-controller="settingsController">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Employer Settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="hide()">
                    <md-icon md-font-icon="fa fa-times" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width: 600px; max-width:800px;max-height:810px;">
            <md-progress-circular ng-if="loading" class="overflow-hide"></md-progress-circular>
            <md-tabs md-dynamic-height md-border-bottom  ng-if="!loading" >
                <md-tab label="Payroll">
                    <md-content class="md-padding">
                        <h4>Payroll Settings</h4>
                        <md-divider></md-divider>
                        <p>Pay periods per year: {{payrollSettings.PayrollConfiguration.PayPeriodsPerYear}}</p>
                        <p>Gross pay per pay period: {{payrollSettings.PayrollConfiguration.GrossPayPerPeriod | currency}}</p>
                    </md-content>
                </md-tab>
                <md-tab label="Benefits">
                    <md-content class="md-padding">
                        <h4>Employer Benefits</h4>
                        <div ui-grid="benefitGridSettings" class="setting-grid" ui-grid-auto-resize></div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
    </form>
</md-dialog>
